<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDquui_fc422zDQAO0a0LF6RaQHfulGM0E</string>
	<key>GCM_SENDER_ID</key>
	<string>48968125821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baoduynndb.BaoDuyNotes</string>
	<key>PROJECT_ID</key>
	<string>swiftui-notes-ff7f4</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-notes-ff7f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48968125821:ios:be3bf89966042ff4421014</string>
</dict>
</plist>